#verdant-footer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

#copyright-icon {
    font-size: x-large;
}

.verdant-hr {
    border: 1px solid;
}

.footer-content {
    display: flex;
    height: 36px;
    padding: 0;
}

.footer-content>div>a {
    text-decoration: none;
    color: var(--color-text-primary);
}

.footer-content>div>a:hover {
    color: var(--sidebar-connection-link-hover);
    font-weight: bold;
}

.italic-link {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    #verdant-footer hr {
        margin-bottom: 0.5rem;
    }
}