.current {
  color: green;
}

.verdant-content {
    margin: 0px 255px;
    padding: 1rem 2rem;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  font-family: var(--bs-body-font-family);
}

h1 {
  font-family: 'Acorn';
  color: var(--color-text-primary);
  font-size: var(--font-h1);
}