.current {
  color: green;
}

.verdant-content {
    margin-left: 250px;
}

body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  font-family: var(--bs-body-font-family);
}

h1 {
  font-family: 'Acorn';
  color: var(--color-text-primary);
  font-size: var(--font-h1);
}