.current {
  color: green;
}

.verdant-content {
    margin: 0px 255px;
    padding: 1rem 2rem;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  font-family: var(--bs-body-font-family);
}

h1 {
  font-family: 'Acorn';
  color: var(--color-text-primary);
  font-size: var(--font-h1);
}

blockquote>p {
    margin-bottom: 0;
    border-left: solid var(--color-text-primary-50) 2px;
    padding-left: 15px;
}

#home-posts-list {
    list-style-type: none;
}

#home-posts-list a {
    text-decoration: none;
    color: var(--color-text-primary);
}

#home-posts-list a:hover {
    color: var(--sidebar-connection-link-hover);
    border: solid var(--sidebar-connection-link-hover) 1px;
    border-radius: 6px;
}

#home-posts-list p {
    margin-bottom: 0;
}

#home-posts-list .card {
    background-color: var(--sidebar-background-color);
    margin-bottom: 10px;
    border: 0;
}

#home-posts-list .fa-thumbtack {
    margin-left: 10px;
}