#verdant-sidebar {
    background-color: var(--sidebar-background-color);
    position: fixed;
    width: 150px;
}

#verdant-sidebar>ul>li>a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: bold;
}

#verdant-sidebar>ul>li>a.active {
    background-color: var(--sidebar-nav-link-active);
}

.sidebar-hr {
    border: 1px solid;
}