#theme-toggle {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#theme-toggle>button {
    background-color: var(--background-color-inverse);
    color: var(--color-text-primary-inverse);
    border-radius: 10px;
    font-size: x-large;
    border: 0;

}