---
---
<!doctype html>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="{{ "/assets/js/theme-init.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | prepend: site.baseurl }}>
    <script src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>
  </head>
  <body>
    {% if page.show_sidebar %}
        {% include sidebar.html %}
    {% else %}
        {% include navigation.html %}
    {% endif %}
    <div class="verdant-content p-3">
        {{ content }}
    </div>
  </body>
</html>